a:hover {
  cursor: pointer;
}

.btn-success:focus,.btn:active {
   outline: none !important;
}

.progress-bar.active.progress-bar-striped {
  background-color: #57ae81;
}

g.labels text{
  font-size: 12px !important;
}
