a:hover {
  cursor: pointer;
}

.btn-success:focus,.btn:active {
   outline: none !important;
}

.progress-bar.active.progress-bar-striped {
  background-color: #57ae81;
}

g.labels text{
  font-size: 12px !important;
}

.list-group{
  height: 70vh;
  overflow-y: scroll;
  border: .5px solid #ececec;
}

.panel-group{
  height: 70vh;
  overflow-y: scroll;
  border: .5px solid #ececec;
}

.list-group-item{
  margin: 0;
}

.ListItem {
  color: #4eb14d;
}
