.welcomeRibbon {
  max-width: 525px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}

.dashItem {
    border: .5px solid #ececec;
    text-align: center;
  }

  .panel-group{
    height: 70vh;
    border: .5px solid #ececec;
  }

.recentActivity {
    padding: 0px;
    border: .5px solid #ececec;
  }

.head {
    font-weight: bold;
  }
