.navbar-default {
  background-color: #ffffff;
  border-bottom: solid 1px #57ae81;
}
.navbar-default .navbar-brand {
  color: #3d3d3d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3d3d3d;
}
.navbar-default .navbar-text {
  color: #3d3d3d;
}
.navbar-default .navbar-nav > li > a {
  color: #3d3d3d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #3d3d3d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #3d3d3d;
  background-color: #57ae81;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #3d3d3d;
  background-color: #57ae81;
}
.navbar-default .navbar-toggle {
  border-color: #57ae81;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #57ae81;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3d3d3d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3d3d3d;
}
.navbar-default .navbar-link {
  color: #3d3d3d;
}
.navbar-default .navbar-link:hover {
  color: #3d3d3d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3d3d3d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3d3d3d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3d3d3d;
    background-color: #57ae81;
  }
}
.navbar-collapse.collapse.in {
  background-color: #c1c1c0;
}
