a:hover {
  cursor: crosshair;
}

.facebookbtn {
  font-weight: bold;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  border-style: solid;
  border-radius: 5px;
  letter-spacing: .5px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: #2e70ac;
  border-color: #ececec;
}

.googlebtn {
  font-weight: bold;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  border-style: solid;
  border-radius: 5px;
  letter-spacing: .5px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: #DD4B39;
  border-color: #DD4B39;
}
